{
  "debug": "true or false",
  "prefix": "PREFIX HERE",
  "shards": NUMBER OF SHARDS,
  "token": "DISCORD BOT TOKEN HERE",
  "MozambiqueAPI": "APEXLEGENDSAPI API KEY HERE",
  "ApexAPI": "PC STATS API KEY HERE (CURRENTLY DEPRICATED)",
  "topGG": "0 = disabled, otherwise use API key",
  "DELToken": "0 = disabled, otherwise use API key",
  "DBLToken": "0 = disabled, otherwise use API key",
  "checkMessage": {
    "guildID": "Guild ID",
    "channelID": "Channel ID"
  },
  "SQL": {
    "host": "MySQL HOST IP",
    "username": "MySQL Username",
    "password": "MySQL Password",
    "database": "MySQL Database",
    "legendTable": "Legends Table",
    "eventTable": "Events Table",
    "seasonTable": "Season Table",
    "mapEvenTable": "Map Event Table",
    "ALGSTable": "ALGS Table",
    "changelogTable": "Changelog Table"
  },
  "APISQL": {
    "host": "MySQL HOST IP",
    "username": "MySQL Username",
    "password": "MySQL Password",
    "database": "MySQL Database",
    "usersTable": "Users Table",
    "killsTable": "USer Kills Table"
  },
  "autoUpdate": {
    "guildID": "Guild ID",
    "arena": {
      "enabled": "true or false",
      "channel": "Channel ID",
      "message": "Message ID",
      "interval": "Update Interval in Minutes"
    },
    "map": {
      "enabled": "true or false",
      "channel": "Channel ID",
      "message": "Message ID",
      "interval": "Update Interval in Minutes"
    },
    "event": {
      "enabled": "true or false",
      "channel": "Channel ID",
      "message": "Message ID",
      "interval": "Update Interval in Minutes"
    },
    "status": {
      "enabled": "true or false",
      "channel": "Channel ID",
      "message": "Message ID",
      "interval": "Update Interval in Minutes"
    },
    "channelStatus": {
      "enabled": "true or false",
      "channel": "Channel ID",
      "interval": "Update Interval in Minutes"
    }
  }
}
