{
	"discord": {
        "shards": Number,
		"token": "Bot Token"
	},
    "api": {
        "Mozambique": "Apex Legends API Key"
    },
    "logs": {
        "webhookID": "Webhook ID",
        "webhookToken": "Webhook Token"
    },
	"botLists": {
		"topGG": {
			"enabled": True or False,
			"token": "TopGG Token"
		}
	}
}
