{
	"debug": true or false,
    "interval": "Time in minutes for bot status updates",
	"release": "Release Codename",
    "api": {
		"als": "Token from Apex Legends Status",
		"spyglass": "Spyglass API Token"
	}
	"discord": {
		"devGuild": "Guild ID for Testing Slash Commands",
        "devClient": "Client ID for the bot",
		"token": "Discord Bot Token"
	},
	"topgg": {
		"enabled": true or false,
		"token": "TopGG API Token"
	}
}
