{
	"debug": true, // True or false
	"release": "Draconis", // Release codename
	"als_token": "bJStKT35rF8trAelsnaa", // Token from Apex Legends Status
	"discord": {
		"devGuild": "893227807667273738", // Test guild for testing commands
		"token": "Nzg1MDA4OTAwNTMzMzg3MjY1.X8xmgg.r6r0M0IYNOhu9T_SPjLawbiIJV8" // Bot token
	},
	"topgg": {
		"enabled": false, // TopGG API
		"token": "0" // TopGG API Token
	}
}
